<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/styles.css" />
    <title>Message</title>
  </head>
  <body>
    <%- include("navbar") %>

    <div class="message-container">
      <h1><%= message["user"] %> Message!</h1>
      <div class="message">
        <ul>
          <% Object.keys(message).map((key) => { %>
          <li><%= message[key] %></li>
          <% }) %>
        </ul>
      </div>
    </div>
  </body>
</html>
