*,
*::after,
*::before {
  box-sizing: content-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #c5e3fc;
}

nav {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding: 50px 10px;
}

nav ul {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
  list-style: none;
  font-size: 1.15rem;
}

nav ul li a {
  text-decoration: none;
  color: #003a07;
}

nav p {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

.messages {
  display: grid;
  gap: 20px;
  grid-template-columns: minmax(0, 1fr);
  padding-inline: 20px;
  max-width: 920px;
  margin-inline: auto;
  margin-bottom: 50px;
}

.message-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 90%;
  max-width: 400px;
  margin-inline: auto;
}

.message {
  background-color: #fff7d9;
  padding: 30px 15px;
}

.message ul {
  list-style: none;
  padding: 0;
  margin-bottom: 30px;
}

.message ul li:first-child {
  font-size: 2rem;
  margin-bottom: 15px;
  font-weight: bold;
}

.message a {
  display: block;
  width: fit-content;
  margin-inline: auto;
}

.btn {
  border: none;
  outline: none;
  background-color: #003a07;
  color: #ffffff;
  border-radius: 15px;
  padding: 15px 20px;
  font-size: 1.15rem;
  cursor: pointer;
}

.form-container {
  width: 90%;
  max-width: 400px;
  margin-inline: auto;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 1.2rem;
}

@media screen and (min-width: 768px) {
  .messages {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (min-width: 1024px) {
  .messages {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
